compiler:
  solc:
    optimizer:
      enabled: true
      runs: 200
    remappings:
      - "@openzeppelin=OpenZeppelin/openzeppelin-contracts@3.4.2-solc-0.7"

dependencies:
  - compound-finance/compound-protocol@2.8.1
  - OpenZeppelin/openzeppelin-contracts@3.4.2-solc-0.7